<!-- This is just test code -->
<div class="button-container">
	<div class="button">Forward</div>
	<div class="button forward-left">Forward-Left</div>
	<div class="button forward-right">Forward-Right</div>
	 
	<div class="button">Strafe Left</div>
	<div class="button">Strafe Right</div>
	 
	<div class="button">Reverse</div>
	<div class="button reverse-left">Reverse-Left</div>
	<div class="button reverse-right">Reverse-Right</div>
	 
	<div class="button rotate">Rotate Left</div>
	<div class="button rotate">Rotate Right</div>
</div>
<!-- end of test code -->