<!-- This is just test code -->
<div class="button-container">
	<div class="button">Forward</div>
	<div class="button">Forward-Left</div>
	<div class="button">Forward-Right</div>
	 
	<div class="button">Strafe Left</div>
	<div class="button">Strafe Right</div>
	 
	<div class="button">Reverse</div>
	<div class="button">Reverse-Left</div>
	<div class="button">Reverse-Right</div>
	 
	<div class="button">Rotate Left</div>
	<div class="button">Rotate Right</div>
</div>
<!-- end of test code -->