<!-- This is just test code -->
<h1>MC Hammer-Bot</h1>
<div class="button-container">
	<div class="button forward-left"></div>
	<div class="button forward"></div>
	<div class="button forward-right"></div>
	 
	<div class="button strafe-left"></div>
	<div class="button stop"></div>
	<div class="button strafe-right"></div>
	 
	<div class="button reverse-left"></div>
	<div class="button reverse"></div>
	<div class="button reverse-right"></div>
	
	<div class="button rotate-left"></div>
	<div class="button rotate-right"></div>
	<div class="button evasive"><h2>EVASIVE MANEUVERS!</h2></div>
	<div class="clear"></div>
</div>
<!-- end of test code -->